a, a:visited {
    color: white;
    text-decoration: none;
    display: block;
    width: 100px;
}
a:hover {
    text-decoration: none;
    color: #094565;
}
.btnCerrar{
  padding: 50px;
  margin: 20px;
  width: 250px;
  margin: 45px;
  position: relative;left: 40%;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  text-align: center;
  background-color: #F26100;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-radius: 20px;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}

.btnCerrar:hover{
  background-color: #33739E;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;

}
.buttons{
  width: auto;
  margin: 10px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  text-align: center;
  background-color: #F26100;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-radius: 20px;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}
.buttons:hover {
  background-color: #fff;
  color: #33739E;
  font-family: Arial, Helvetica, sans-serif;
}

#cerrar{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 19.5%;
  position: relative;
  left: 40%;
  outline: none;
  margin-right: 0.625%;
  text-align: center;
  line-height: 20px;
  padding: 5px;
  text-align: center;
  background-color: #F26100;
  color: #fff;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}
#cerrar:hover {
  background-color: #fff;
  color: #33739E;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#loadMore {
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    width: 80%;
    margin-right: 0.625%;
    text-align: center;
    position: relative;
    padding: 5px;
    text-align: center;
    background-color: #4f4d4c;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-radius: 20px;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
#loadMore:hover {
    background-color: #fff;
    color: #33739E;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


#tabla-contenedor {
    margin: 50px auto;
    background-color: #165CAB;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  th, td{
    border: solid 1px black;
    background-color: white;
    border-collapse: collapse;
    
  }
  #cabecera{
    background-color: #165CAB;
    border-bottom: solid 5px#165CAB;
    color: white;
  }
  tr:nth-child(even){
    background-color: #ddd;
  
  }
  tr:hover td{
    background-color: #90BDD4;
    color: white;
  }

  body {
    font-family: arial;
    background-color: #DAE8F5;
  }

  @import url(https://fonts.googleapis.com/css?family=Erica+One);
/* BODY */

::selection {
  background: transparent;
}

h1 {
  cursor: default;

  top: 5px;
  -webkit-animation: bounce .3s ease infinite alternate;
  font-family: 'Erica One', cursive;
  font-size: 80px;
  color: #FFF;
  text-align: center;
  line-height: 100px;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .6);
}
/* ANIMATION */
@-webkit-keyframes bounce {
  100% {   
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 30px 30px rgba(0, 0, 0, .3);
  }
}

.tuclase {
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 30px; 
  color: #165CAB; 
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
  }
.lab {
  text-align: left; 
  font-family: Arial rgb(255, 248, 248); 
  font-weight: bold; 
  font-size: 30px; 
  color: rgb(255, 255, 255); 
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.textopa {
  text-align: left; 
  font-family: Arial rgb(255, 248, 248); 
  font-size: 30px; 
  color: rgb(128, 96, 96); 
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
    